@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lora Roboto Mono Roboto */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500;1,700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 80%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}






















.fontColor-green{
  color: #8EA38D
}
.bottomCarousel img{
  width: 400px;
  height: 400px;
}
/* html,body
{
    min-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px !important;
    overflow-x: hidden; 
} */
.bg-FA {
  background-color: #faf9f7;
}
.fcolor-63 {
  color: #637470;
}
.mockup-img{
  height: 750px;
  width: 500px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.some{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.contain{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}