@tailwind base;
@tailwind components;
@tailwind utilities;
/* Lora Roboto Mono Roboto */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500;1,700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

html,
body {
  height: 100%;
}
.slider-right .slick-dots {
  text-align: left;
  bottom: 25px;
}
.slider-right .slick-dots li button:before{
  font-size: 8px;
}
.slider-right .slick-track{
  background:rgb(111, 109, 136);
}
.img-min-h {
  min-height: 80vh;
}
.leading-11 {
  line-height: 4rem;
}

.text-purple {
  color: #6f6c89;
}
.background-purple {
  background-color: #6f6c89 !important;
}

/* refin */
.fontColor-green {
  color: #8ea38d;
}

.bottomCarousel img {
  width: 400px;
  height: 400px;
}

.bg-FA {
  background-color: #faf9f7;
}
.fcolor-63 {
  color: #637470;
}
.mockup-img {
  min-height: 750px;
  min-width: 500px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 786px) {
  .mockup-img {
    height: 450px;
    width: 250px;
    min-height: unset !important;
    min-width: unset !important;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
