@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500;1,700&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

.background-brown {
  background-color: #424242;
  min-height: 50vh;
}

.bottomCarouselDesktop {
  overflow: hidden;
}

.bottomCarouselDesktop img {
  max-height: 400px;
  max-width: 500px;
}
/* .slick-current,
.slick-center, 
.slick-active {
  transform: scale(1.1);
  /* margin-left: 200px;
  margin-right: 200px; */
/* } */

.bottomCarouselDesktop .slick-center {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);    
}

.bottomCarouselDesktop .slick-list { 
  padding:45px 60px !important;
  margin-left:30px !important;
}
/* .slick-slide.slick-center img {
  transform: scale(1.1);
} */

.mockup-img-1 {
  width: 500px;
}
.mockup-img-container {
  height: 650px;
  overflow: hidden;
}
.btn-contain img {
  max-width: 150px;
}
.background-gray {
  background-color: #d8dcdd;
}
.slider-left .slick-dots {
  text-align: right;
  bottom: 25px;
}
.slider-right .slick-dots {
  text-align: left;
  bottom: 25px;
}
.slick-dots li button:before {
  font-size: 8px;
}
.img-min-h {
  min-height: 80vh;
}
.leading-11 {
  line-height: 4rem;
}
.text-green {
  color: #637470;
}
.text-purple {
  color: #6f6c89;
}
.background-purple {
  background-color: #6f6c89 !important;
}
.background-green {
  background-color: #637470 !important;
}

.fontColor-green {
  color: #8ea38d;
}

.bg-FA {
  background-color: #faf9f7;
}
.fcolor-63 {
  color: #637470;
}
/* .mockup-img {
  min-height: 750px;
  min-width: 500px;
} */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 786px) {
  .mockup-img {
    max-height: 600px;
    max-width: 400px;
    min-height: unset !important;
    min-width: unset !important;
  }
  .whitespace-rm {
    height: 300px;
  }
  .max-h-update {
    max-height: 125vh;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
